<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>  
  <%= f.input :password %>
  <%= f.input :password_confirmation %>  
  <%= f.input :nif %>
  <%= f.input :nombre %>
  <%= f.input :apellidos %>
  <%= f.input :nombre_comercial %>
  <%= f.input :telefono %>
  <%= f.input :fax %>
  <%= f.input :telf_movil %>
  <%= f.input :web %>

    	    	





  <div><%= f.button :submit, "Regístrate" %></div>
<% end %>

<%= render "devise/shared/links" %>
