<%= simple_form_for(@factura, html:{class: "form-horizontal"}) do |f| %>
  <% if @factura.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@factura.errors.count, "error") %> prohibited this factura from being saved:</h2>

      <ul>
      <% @factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :usuario_id, collection: Usuario.all, label_method: :full_name %>
  <%= f.input :fecha_alta %>

  <%= f.input :serie_factura %>

  <%= f.input :numero_factura %>

  <%= f.input :comentario %>


   
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
